# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Checkstyle/SpotBugs/JaCoCo
/checkstyle/
/spotbugs/
/jacoco.exec 